/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



#formulario-nibble{/*inicio formulario nibble-flutuante */
	display:none;
}
#formulario-nibble{
	margin: 0 auto;
	
	background-color:#FFFFFF;
	margin-top:30%;
	width:auto;
	-webkit-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
border-radius:3px 3px 3px 3px;
}
#formulario-nibble {
	text-align:center;
}


/*
#formulario-nibble input{
	height:30px;
	width:300px;
	
}
*/
#formulario-nibble #botao-nibble-fechar{
	text-align:right;
	
}
#formulario-nibble #botao-nibble-fechar #botao_fechar:hover{
	cursor:pointer;
	color:blue;
}

#botao-nibble-fechar{
	z-index: 2000;
}/*fim formulario nibble-flutuante*/


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


.conteiner-busca-nibble{
	margin-top:50px;
	position:relative;
	float:right;
	width:260px;
	height:45px !important;
	border: 2px solid #0000CD;
	height:auto;
	background-color:white;
	border-radius:10px 10px 10px 10px;
	-webkit-box-shadow: 18px 3px 56px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 18px 3px 56px -17px rgba(0,0,0,0.75);
box-shadow: 18px 3px 56px -17px rgba(0,0,0,0.75);
z-index:2000; 
}

.busca-nibble input{
    margin-top:10px !important;
	font-size:18px;
	width:200px;
	height: 30px;
	border:0px;

	
}

nav{
	height:180px ;
	background-image: url("../images/fundo3.jpg");
	background-repeat:repeat

	
}
nav a{
		color: #000000 !important;
}
nav a:hover{
	color:#0000CD!important;
	
	font-weight: bold;
}
#nav-mobile{
	margin-top:110px;
}
footer{
	background-image: url("../images/fundo3.jpg");
	background-repeat:repeat
	
}
footer .row{
	color: #27408B !important;
}
footer .rodaconteiners{
	display:inline-block;
	
	height: auto;
	text-align:center;
	
}
footer #lateral_esquerda{
	width:30%;
}
footer #lateral_centro{
	width:35%;
	text-align:center;
}
footer #lateral_direita{
	width:30%;
}
.footer-copyright .container{
	
}
